<div class=container-fluid>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Students App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Students" ? "active" : "")">
                    @* First method to get the route using Url.Action (render url only) *@
                    <a class="nav-link" href="@Url.Action("Index", "Students")">Students</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Students")">Subjects</a>
                </li>
                <li class="nav-item">
                    @* Second method to get the route using Html.ActionLink (render a full tag element) *@
                    @Html.ActionLink("Grades", "Index", "Students", null, new { @class = "nav-link" })
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
